.git
.github
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
tests
